body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background: linear-gradient(to right, #406874, #a7fffb);
}

#map {
  height: 85%;
  border-radius: 25px;
  box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.75);
  margin: 50px auto;
  max-width: 1400px;
}

.custom-map-control-button {
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0.5em;
  font: 400 18px 'Noto Sans', sans-serif;
  height: 40px;
  cursor: pointer;
  background: #ffff;
  border: 0;
  overflow: hidden;
}

.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}